body{
    font-family: Lato, sans-serif;
}
optgroup{
    font-size: 1.1em;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{
    padding-top:0;
}
.flashmessage{
    background-color:#ffff99;
    color: black;
}